.display-none {
    display: none;
}

.display-block {
    display: block;
}

.input-group,
.form-input,
.input-group-append,
.search-button,
.history-button {
    width: 100% !important;
}

.form-input {
    margin-bottom: 15px;
    height: 40px;
    padding: 10px;
}

.history-button {
    margin-bottom: 15px;
    background: #aaa;
}

.currWeatherContainer {
    margin-top: 45px !important;
    padding: 20px;
    border: 1px solid rgb(0, 31, 68);
    border-radius: .25rem;
}

.currWeatherIcon {
    height: 50px;
}

.five-days-header {
    margin-top: 20px;
}

#forecast {
    display: flex;
    margin: 0 -10px !important;
}

.five-days-card {
    flex: 0 1 calc(20% - 20px);
    padding: 0 10px;
    margin: 10px;
    background-color: rgb(0, 31, 68);
    border-radius: .25rem;
}

.five-days-card h4 {
    color: #fff !important;
    margin-top: 15px;
}

.five-days-card h5 {
    color: #fff !important;
    margin: 10px auto 15px !important;
}

/* .card-date {
    font-size: 0.7em;
} */